<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cat API</title>
</head>
<body>
        <ul class="nav">
            <li> <a href="/types"> Random Cat Summary</a></li>
            <li> <a href="/bad-day"> Bad Day?</a></li>
        </ul>
    <form action="#" method="post">
        <H1>Mood Booster 4000</H1>
        <img src="{{image}}" id="image"> <br><br>
        <button type="submit" name="btnNext">Next</button> <br><br>
    </form>
</body>
<style>
    body{background-color: gray; text-align: center; color: floralwhite;}

    img {
    width:100%;
    max-width:600px;
    }

    ul.nav {
    padding-left: 0px;
    text-align: center;
    }
    ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
    }
    ul.nav > li:hover {
    background-color: #2779BF;
    }
    ul.nav > li > a {
    color: white;
    text-decoration: none;
    }

</style>
</html>