<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cat API</title>
</head>
<body>
    <form action="#" method="post">
        <H1>Select cat and share with your colleague</H1>
        <H1> {{data}} </H1> <br><br>
        <img src="{{image}}"> <br><br>
        <button type="submit" name="btnNext">Next</button> <br><br>
    </form>
    <button type="submit" name="btnSend">Send</button>
</body>
<style>
    body{background-color: gray; text-align: center; color: floralwhite;}
</style>
</html>